@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background: #222831;
    font-family: 'Poppins', sans-serif;
}

.main {
    max-width: 960px;
    margin: 0 auto;
    padding: 0px 15px;
    min-height: 100vh;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

.notes_title {
    color: #fff;
    font-size: 38px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.notes {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
}

@media screen and (max-width: 960px) {
    .notes {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }
}

@media screen and (max-width: 500px) {
    .notes {
        grid-template-columns: repeat(1, minmax(300px, 1fr));
    }
}